<ion-menu side="start" content-id="main-content" max-edge-start="50">
  <ion-content class="menuContent">
    
      <ion-list lines="full" class="list">
        <ion-item routerLink="/adminboard">
          <ion-icon name="home" slot="start" class="mi"></ion-icon>
          <ion-label>Главная</ion-label>
        </ion-item>
        <ion-item routerLink="/adminboard/allrequests">
          <ion-icon name="albums" slot="start" class="mi"></ion-icon>
          <ion-label>Активные заявки</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/adminboard/finishedrequests">
          <ion-icon name="briefcase" slot="start" class="mi"></ion-icon>
          <ion-label>Завершенные</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/adminboard/charts">
          <ion-icon name="stats-chart" slot="start" class="mi"></ion-icon>
          <ion-label>Статистика</ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/adminboard/report">
          <ion-icon name="document" slot="start" class="mi"></ion-icon>
          <ion-label>Отчеты</ion-label>
        </ion-item>
       </ion-list>   
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content">
  <div class="marker" (click)="openMenu()">
    <div class="marker-box">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <div *ngIf="this.currentRequests.length>0" style="padding-left: 2.5%; padding-right: 2.5%; width:100%; display: flex; flex-direction: column;">
    <div class="searchBox">
      <ion-searchbar></ion-searchbar>
      <button><ion-icon name="filter-outline"></ion-icon>&nbsp; Фильтр</button>
    </div>
    <table class="table">
      <tr class="headers">
        <th>№</th>
        <th><div class="cab">Кабинет</div></th>
        <th>Сервис</th>
        <th class="center">Заявитель</th>
        <th class="center">Статус</th>
        
        <th>Заявление</th>
        <th class="end">Время создания</th>
        
        <th class="end">Последнее Обновление</th>
      </tr>
      <tr class="data" *ngFor="let item of this.currentRequests">
        <td>
          {{item.id}}
        </td>
        <td>
          <div class="cab">{{item.zone.name}}</div>
        </td>
        <td>
          {{item.spec.name.String}}
        </td>
        <td class="center">
          <div class="user">
            <span *ngIf="item.user.name!=''">
              {{item.user.surname}}&nbsp;{{item.user.name}}
            </span>
            {{item.user.phone}}
          </div>
        </td>
        <td class="center">
          <ion-button *ngIf="item.badge == 1" class="Wanted">Требуется специалист</ion-button>
          <ion-button *ngIf="item.badge == 2" disabled="true" class="Sent">Отправлено специалисту</ion-button>
          <ion-button *ngIf="item.badge == 3" disabled="true" class="inProcess">В процессе</ion-button>
          <ion-button *ngIf="item.badge == 4" class="Done">Специлист выполнил</ion-button>
          <ion-button *ngIf="item.badge == 5" disabled="true" class="Wait">Ждем подтверждения</ion-button>
          <ion-button *ngIf="item.badge == 6" disabled="true" class="Completed">Выполнено</ion-button>
          <ion-button *ngIf="item.badge == 7" disabled="true" class="Delayed">Отсрочено</ion-button>
          <ion-button *ngIf="item.badge == 8" disabled="true" class="Choose">Выбрать специалиста</ion-button>
        </td>
        <!--
        <td class="center">
          
          <ion-fab class="fab" (click)="onClose()">
            <ion-fab-button>
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
              <ion-fab-button *ngIf="item.badge == 1">Направить специалиста</ion-fab-button>
              <ion-fab-button *ngIf="item.badge == 4">Подтвердить выполнение</ion-fab-button>
            </ion-fab-list>
          </ion-fab>
          
          <button *ngIf="item.badge == 1">Направить специалиста</button>
          <button *ngIf="item.badge == 4">Подтвердить выполнение</button>
        </td>
        -->
        <td>
          {{item.text}}
        </td>
        <td class="end">
          {{item.createdTime}}
        </td>
        
        <td class="end">
          {{item.lastUpdatedTime}}
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="this.currentRequests.length==0">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>
