.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.requestForm {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 90%;
  max-width: 700px;

  ion-select {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
  }

  ion-textarea,
  ion-input {
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
  }

  small {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }

  ion-button {
    margin: 0;
  }
}

#upload {
  margin-top: 1.5rem;
  width: 11rem;
  p {
    padding-left: 0.5rem;
    text-transform: none;
  }
}

#send {
  margin-top: 1rem;
  width: 7rem;

  p {
    text-transform: none;
  }
}
