<ion-header>
  <ion-toolbar>
    
    <ion-button slot="start" (click)="leave()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    <ion-button slot="end" (click)="refresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content" *ngIf="allrequests.length>0">
    <ion-card *ngFor="let item of allrequests">
      <ion-card-header>
        <ion-card-title>{{item.id}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-text>
          <h4>Номер заявителя:</h4>
          <h3 *ngIf="item.user.name != ''">{{item.user.name}}&nbsp;{{item.user.surname}}</h3>
          {{item.user.phone}}
          <h4>Кабинет:</h4>
          {{item.zone.name}}
          <h4>Сервис:</h4>
          {{item.spec.name.String}}
          <h4>Текст:</h4>
          {{item.text}}
        </ion-text>
        <div class="buttonsHolder" style="width: 100%;display: flex;justify-content: center;padding-top: 1rem;">
          <ion-button *ngIf="!item.acceptedBySpec && item.acceptedByManager" (click)="acceptRequest(item.id)" color="danger">Принять вызов</ion-button>
          <ion-button *ngIf="item.acceptedBySpec && item.acceptedByManager && !item.finishedBySpec" (click)="confirmRequest(item.id)" color="danger">Подтвердить выполнение</ion-button>
          <ion-button *ngIf="item.acceptedBySpec && item.acceptedByManager && item.finishedBySpec && !item.finishedByManager" disabled="true">Ожидаем подтверждение диспетчера</ion-button>
          <ion-button *ngIf="item.acceptedByManager && item.acceptedBySpec && item.finishedBySpec && item.finishedByManager && !item.acceptedByUser" disabled="true">Выполнено</ion-button>
          <ion-button *ngIf="item.acceptedByManager && item.acceptedBySpec && item.finishedBySpec && item.finishedByManager && item.acceptedByUser" disabled="true">Принято заявителем</ion-button>
        </div>
        <div *ngIf="item.fileUrl!=undefined">
          <h4>Прикрепенные фото:</h4>
          <img src="{{item.fileUrl}}" alt="">
        </div>
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf="allrequests.length==0">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  

</ion-content>
